legacy-peer-deps=true
@ecosystem:registry=https://gitlab.devit.group/api/v4/projects/6/packages/npm/
//gitlab.devit.group/api/v4/projects/6/packages/npm/:always-auth=true
//gitlab.devit.group/api/v4/projects/6/packages/npm/:_authToken=${CI_JOB_TOKEN}
